workflows/basic/2-vulnerability-scan.json
{
  "name": "Vulnerability Scan Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": "*/5 * * * *"
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "command": "docker exec astl-deployment-metasploit-1 msfconsole -q -x 'db_status; exit'",
        "executeTimeout": 30
      },
      "name": "Check MSF",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"exitCode\"]}}",
              "operation": "equal",
              "value2": "0"
            }
          ]
        }
      },
      "name": "MSF Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://elasticsearch:9200/vulnerability-scans/_doc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "timestamp",
              "value": "={{$now}}"
            },
            {
              "name": "msf_status",
              "value": "={{$node[\"Check MSF\"].json[\"stdout\"]}}"
            }
          ]
        }
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check MSF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check MSF": {
      "main": [
        [
          {
            "node": "MSF Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSF Ready?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
